/* body {
  font-family: sans-serif;
  background-color: black;
  background-image: url("https://pixelz.cc/wp-content/uploads/2017/12/stock-market-electronic-chart-uhd-4k-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 5rem;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    margin-top: 2rem;
}

.container>h1 {
    font-size: 8rem;
    font-weight: bold;
    color: #ffffff9d;
}

.stocks {
    border-radius: 10px;
    /* border: 2px solid black; */
    border: 2px solid rgba(255, 255, 255, 0.689);
    box-shadow: 4px 8px 14px rgba(152, 193, 255, 0.25);
    width: 100%;
    display: grid;
    /* background-color: white; */
    background-color: rgba(9, 9, 9, 0.466);
    backdrop-filter: blur(5px);
    padding: 1rem;
}


/* .stocks :hover {
  transform: scale(1.05);
} */

.box1 {
    grid-column: 1/2;
    /* padding-top: 7%; */
}

.box1>h1 {
    font-weight: bold;
    font-size: 6em;
    /* color: #000000; */
    /* opacity: 0.9; */
    /* opacity: 0.9; */
}

.box2 {
    grid-column: 2/2;
    padding-top: 1rem;
}

.box2>h2 {
    color: white;
    color: #ffffffd4;
    transition-duration: 200ms;
}

.box2>h2:hover {
    transform: scale(1.05);
}

.box2>h3 {
    color: white;
    color: #ffffffa0;
    font-size: 0.9em;
    padding-bottom: 0.35rem;
    transition-duration: 300ms;
}

.box2>h3:hover {
    transform: scale(1.25);
}

.box2>hr {
    width: 40%;
    transform: translateX(70%);
    margin-top: 0.8rem;
    margin-bottom: 0.9rem;
}

#searchBar {
    width: 85%;
    height: 3rem;
    border-radius: 5px;
    /* border: 2px solid #000000; */
    border: 2px solid rgba(255, 255, 255, 0.432);
    padding: 5px 10px;
    text-align: center;
    background-color: rgba(9, 9, 9, 0.653);
    backdrop-filter: blur(5px);
    color: rgba(255, 255, 255, 0.847);
    font-size: 1rem;
    margin-bottom: 4rem;
}

::placeholder {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff65;
}

.details {
    /* margin: 0 auto; */
    color: white;
    border-radius: 10px;
    /* border: 2px solid black; */
    border: 2px solid rgba(255, 255, 255, 0.658);
    box-shadow: 4px 8px 14px rgba(152, 193, 255, 0.25);
    width: 120%;
    /* background-color: white; */
    backdrop-filter: blur(5px);
    margin-bottom: 4rem;
    transform: translateX(-8%);
}

.loader {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 14px solid #f3f3f374;
    /* border: 8px solid green; */
    /* border-top: 8px solid #0c4574; */
    border-top: 14px solid #c7303067;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}


/* Navbar */

.navbar {
    color: rgba(255, 255, 255, 0.459);
    /* backdrop-filter: blur(6px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    padding: 0 6rem;
    background-color: rgba(9, 9, 9, 0.491);
    backdrop-filter: blur(5px);
    /* border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem; */
    z-index: 100;
    /* border: 2px solid white; */
}

.nav-link {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin-left: 3rem;
}

.nav-linkers {
    /* background-color: #444; */
    color: rgb(245, 237, 237);
    text-decoration: none;
    /* font-family: "Oswald", sans-serif; */
    /* font-family: "Dancing Script", cursive; */
    font-size: 1.2rem;
    opacity: 1;
    transition-duration: 300ms;
}

.nav-linkers:hover {
    color: #19A7AE;
    opacity: 1;
    cursor: pointer;
}

.link--btns {
    background: none;
    border: none;
}

.home-linker {
    color: #03e9f4;
    opacity: 1;
}

.logo {
    width: 12rem;
}

.btn--login {
    background: none;
    margin-left: 3rem;
    border: none;
    /* font-family: "Oswald", sans-serif; */
    /* font-family: "Dancing Script", cursive; */
    border: 1.5px solid;
    border-radius: 2rem;
    padding: 1rem;
    /* background: linear-gradient(to top left, #31324285, #291f2780); */
    cursor: pointer;
    color: rgba(245, 237, 237, 0.82);
    font-size: 1rem;
    animation-name: lgin;
    animation-duration: 6s;
    animation-delay: 1s;
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: ease-in-out; */
    transition-duration: 500ms;
}

@keyframes lgin {
    0% {
        /* transform: translateY(-2rem); */
        transform: scale(0rem);
        /* opacity: 0; */
    }
    25% {
        color: rgba(245, 237, 237, 0.89);
        background: #03e9f4;
        color: #000000;
        border-radius: 2rem;
        box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
        border: 1.5px solid #03e9f4;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    100% {
        /* transform: translateY(0rem); */
        transform: scale(4rem);
        opacity: 1;
    }
}

.btn--login:hover {
    color: rgba(245, 237, 237, 0.89);
    background: #03e9f4;
    color: #000000;
    border-radius: 2rem;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
    border: 1.5px solid #03e9f4;
}


/* Background Videos */

.bg--video {
    z-index: -2;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
}


/* Blurred overlay on BG video */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.513);
    backdrop-filter: blur(10px);
}


/* footer */

.section--footer-1 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.849);
    padding-bottom: 0rem;
    /* background-color: #f5f5f57e; */
    backdrop-filter: blur(5px);
    text-align: center;
    /* padding-top: 2rem; */
    /* font-family: "Dancing Script", cursive; */
    /* font-size: 5rem; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
}

.footer-div--h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-div--h1>h1 {
    color: #f5f5f57e;
    font-size: 4rem;
}

.footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* padding-left: 10rem; */
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.logo-name-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6rem;
}

.logo-name-div-1 {
    padding-left: 6rem;
}

.footer-div>div {
    padding-right: 6rem;
}

.res-logo {
    width: 10rem;
    padding-right: 3rem;
    padding-left: 4rem;
    transition-duration: 480ms;
    opacity: 0.8;
}

.footer-txt-1 {
    color: #f5f5f57e;
    /* font-family: "Monoton", cursive; */
    font-size: 2rem;
    /* padding-left: 6rem; */
}

.footer-txt-2 {
    color: rgba(221, 39, 33, 0.651);
    font-size: 1.8rem;
    /* padding-left: 6rem; */
}

.footer-txt-3 {
    color: #f5f5f57e;
    /* font-family: "Monoton", cursive; */
    /* color: rgba(221, 39, 33, 0.651); */
    font-size: 2.1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    transition-duration: 250ms;
}

.footer-txt-3:hover {
    padding-left: 3.4rem;
    transform: scale(1.25);
    color: rgba(221, 39, 33, 0.651);
}

a {
    text-decoration: none;
    color: rgba(221, 39, 33, 0.651);
}

.footer-2-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.428);
    width: 50%;
}

.res-logo-3 {
    width: 16%;
    /* padding-left: 3rem; */
    /* padding-right: 3rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 0.65;
    /* border-radius: 3rem; */
    transition-duration: 300ms;
    /* mix-blend-mode: lighten; */
}

.res-logo-3:hover {
    transform: scale(1.15);
    opacity: 0.85;
    /* cursor: crosshair; */
}

.footer-2-div>h1 {
    color: #f5f5f57e;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-right: 9rem;
}

.copyright--text {
    font-size: 1rem;
    padding-top: 2rem;
    color: #f5f5f57e;
}