/* About */

.section--1 {
    width: 100%;
    /* height: 270vh; */
    background-color: rgba(0, 0, 0, 0.577);
    backdrop-filter: blur(5px);
    padding-top: 5rem;
    padding-bottom: 4rem;
    /* font-family: "Dancing Script", cursive; */
    /* font-size: 5rem; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
  }
  
  .section--1 > h2 {
    text-align: center;
    font-size: 5rem;
    color: #ff05057e;
  }
  .section--1 > h1 {
    text-align: center;
    font-size: 6rem;
    color: #f5f5f57e;
    padding-bottom: 6rem;
  }
  .src {
    color: #dd2721a6;
  }
  
  .team-1 > img {
    width: 30%;
    border-radius: 1.5rem;
    -moz-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.452);
    -webkit-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.452);
    box-shadow: 10px 10px 9px rgba(10, 10, 10, 0.623);
    animation-name: cui;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  /* @keyframes cui {
    0% {
      transform: translateY(-1.5rem);
    }
    25% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-1.5rem);
    }
    75% {
      transform: translateY(0rem);
    }
    100% {
      transform: translateY(-1.5rem);
    }
  } */
  .team-2 > img {
    width: 30%;
    border-radius: 1.5rem;
    -moz-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.452);
    -webkit-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.452);
    box-shadow: 10px 10px 9px rgba(10, 10, 10, 0.554);
    /* -moz-border-radius: 25px; */
    /* -webkit-border-radius: 25px; */
    /* border-radius: 25px; */
    /* padding-right: 2rem; */
    animation-name: cui;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .team-3 > img {
    width: 30%;
    border-radius: 1.5rem;
    -moz-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.452);
    -webkit-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.452);
    box-shadow: 10px 10px 9px rgba(10, 10, 10, 0.596);
    animation-name: cui;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .team-4 > img {
    width: 30%;
    border-radius: 1.5rem;
    -moz-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.452);
    -webkit-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.452);
    box-shadow: 10px 10px 9px rgba(10, 10, 10, 0.631);
    animation-name: cui;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .team-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 14rem;
    padding-right: 12rem;
  }
  .team-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    padding-left: 14rem;
    padding-right: 12rem;
  }
  .team-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    padding-left: 14rem;
    padding-right: 12rem;
  }
  .team-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    padding-left: 14rem;
    padding-right: 12rem;
  }
  .about--team-1 > h1 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 5rem;
    padding-left: 1.5rem;
    color: rgba(255, 255, 255, 0.685);
    margin-bottom: 0;
  }
  .about--team-1 > h2 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    color: #ff050565;
    color: rgba(255, 255, 255, 0.685);
    color: rgba(255, 255, 255, 0.397);
  }
  .about--team-1 > h3 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 1.66rem;
    padding-left: 1.5rem;
    padding-right: 1.75rem;
    color: #ffffffa2;
    color: rgba(255, 255, 255, 0.397);
  }
  .about--team-2 > h1 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.685);
    padding-right: 1.5rem;
    text-align: right;
    margin-bottom: 0;
  }
  .about--team-2 > h2 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
    color: #ff050565;
    text-align: right;
    color: rgba(255, 255, 255, 0.685);
    color: rgba(255, 255, 255, 0.397);
  }
  .about--team-2 > h3 {
    padding-right: 1.5rem;
    /* font-family: "Dancing Script", cursive; */
    font-size: 1.66rem;
    text-align: right;
    padding-left: 1.5rem;
    padding-right: 1.75rem;
    color: #ffffffa2;
    color: rgba(255, 255, 255, 0.397);
  }
  .about--team-3 > h1 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 5rem;
    padding-left: 1.5rem;
  
    color: rgba(255, 255, 255, 0.685);
    margin-bottom: 0;
  }
  .about--team-3 > h2 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    color: #ff050565;
    color: rgba(255, 255, 255, 0.685);
    color: rgba(255, 255, 255, 0.397);
  }
  .about--team-3 > h3 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 1.66rem;
    padding-left: 1.5rem;
    padding-right: 1.75rem;
    color: #ffffffa2;
    color: rgba(255, 255, 255, 0.397);
  }
  .about--team-4 > h1 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 5rem;
    padding-left: 1.5rem;
    color: rgba(255, 255, 255, 0.685);
    text-align: right;
    padding-right: 1.5rem;
    margin-bottom: 0;
  }
  .about--team-4 > h2 {
    /* font-family: "Dancing Script", cursive; */
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    color: #ff050565;
    color: rgba(255, 255, 255, 0.397);
    text-align: right;
    padding-right: 1.5rem;
  }
  .about--team-4 > h3 {
    /* font-family: "Dancing Script", cursive; */
    padding-left: 1.5rem;
    padding-right: 1.75rem;
    color: #ffffffa2;
    font-size: 1.66rem;
    text-align: right;
    padding-right: 1.75rem;
    color: rgba(255, 255, 255, 0.397);
  }