.section--footer-1 {
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.849);
    padding-bottom: 0rem;
    /* background-color: #f5f5f57e; */
    backdrop-filter: blur(5px);
    text-align: center;
  
    /* padding-top: 2rem; */
    /* font-family: "Dancing Script", cursive; */
    /* font-size: 5rem; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
  }
  .footer-div--h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-div--h1 > h1 {
    color: #f5f5f57e;
    font-size: 4rem;
  }
  .footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* padding-left: 10rem; */
    padding-top: 2rem;
    /* padding-bottom: 5rem; */
  }
  .logo-name-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6rem;
    padding-top: 1rem;
  }
  .logo-name-div-1 {
    padding-left: 6rem;
    flex: 1;
    /* width: 16rem; */
  }
  /* .footer-div > div {
    padding-right: 6rem;
  } */
  .res-logo {
    width: 10rem;
    padding-right: 3rem;
    padding-left: 4rem;
    transition-duration: 480ms;
    opacity: 0.8;
  }
  
  .footer-txt-1 {
    color: #f5f5f57e;
    /* font-family: "Monoton", cursive; */
    font-size: 2rem;
    /* padding-left: 6rem; */
  }
  .footer-txt-2 {
    color: rgba(221, 39, 33, 0.651);
    font-size: 1.8rem;
    /* padding-left: 6rem; */
  }
  .footer-txt-3 {
    color: #f5f5f57e;
    /* font-family: "Monoton", cursive; */
    /* color: rgba(221, 39, 33, 0.651); */
    font-size: 2.1rem;
    padding-left: 1rem;
    padding-top: 2rem;
    transition-duration: 250ms;
  }
  .footer-txt-3:hover {
    padding-left: 3.4rem;
    transform: scale(1.25);
    color: rgba(221, 39, 33, 0.651);
  }
  
  a {
    text-decoration: none;
    color: rgba(221, 39, 33, 0.651);
  }
  .footer-2-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    text-align: center;
    background-color: rgb(9, 255, 239);
    width: 50%;
  }
  
  .res-logo-3 {
    width: 20%;
    /* padding-left: 3rem; */
    /* padding-right: 3rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    opacity: 0.65;
    /* border-radius: 3rem; */
    transition-duration: 300ms;
    /* mix-blend-mode: lighten; */
  }
  .res-logo-3:hover {
    transform: scale(1.15);
    opacity: 0.85;
    /* cursor: crosshair; */
  }
  .footer-2-div > h1 {
    color: #f5f5f57e;
    font-size: 2.5rem;
    padding-top: 2rem;
    padding-right: 9rem;
  }
  
  .copyright--text {
    font-size: 1rem;
    padding-top: 2rem;
    color: #f5f5f57e;
  }
  .social-title{
      font-size: medium;
  }
  .links-footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      /* width: 10rem; */
  }